.container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 1rem;

  z-index: 2;

  width: 3rem;
  height: 3rem;

  cursor: pointer;
}

.icon {
  font-size: 2rem;
  color: black;
  cursor: pointer;
}
