* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --white-100: #ffffff;
  --white-300: #d9d9d9;
  --white-500: #deebf7;
  --black-1000: #000000;
  --orange-300: #fdb417;
  --orange-500: #fd9d22;
  --orange-700: #fe801c;
  --blue-100: #00b0f0;
  --blue-1000: #102051;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
